<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./common/header.ejs") %>
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar Start -->
        <%- include('./common/nav.ejs', { activePage: 'admission' }) %>
        <!-- Navbar End -->

        <!-- Contact Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">Admission</h1>
                </div>
                <div class="bg-light rounded">
                    <div class="row g-0 d-flex justify-content-around">
                        <div class="col-lg-6 wow fadeIn " data-wow-delay="0.1s">
                            <div class="h-100 d-flex flex-column justify-content-center p-5">
                                <form enctype="multipart/form-data" action="/admission" method="post">
                                    <div class="row g-3">
                                        <!-- child details -->
                                        <div class="col-12">
                                            <div class="form-floating">
                                                <input type="text" class="form-control border-0" id="studentName" name="name"
                                                    placeholder="Student Name" required>
                                                <label for="studentName">Student Name</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-floating">
                                                <input type="text" class="form-control border-0" id="studentAge" name="childAge"
                                                    placeholder="Student Name" required>
                                                <label for="studentAge">Student Age</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-floating">
                                                <select class="form-control  border-0" placeholder="Branch" id="branch"
                                                    name="branch" required>
                                                    <option value="">Choose Branch</option>
                                                    <option value="Charkop">Charkop</option>
                                                    <option value="Andheri">Andheri</option>
                                                    <option value="Borivali">Borivali</option>
                                                    <option value="Kandivali">Kandivali</option>
                                                </select>
                                                <label for="branch">Choose Branch</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-floating">
                                                <select class="form-control  border-0" placeholder="Standard" 
                                                    id="standard" name="standard" required>
                                                    <option value="">Choose Class</option>
                                                    <option value="Jr.KG">Jr.KG</option>
                                                    <option value="Sr.KG">Sr.KG</option>
                                                </select>
                                                <label for="standard">Choose Class</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-floating">
                                                <input class="form-control  border-0" placeholder="Birthdate"
                                                    type="date" id="birthdate" name="birthdate" required>
                                                <label for="birthdate">Choose Birthdate</label>
                                            </div>
                                        </div>
                                        <!-- father details -->
                                        <div class="col-12">
                                            <div class="form-floating">
                                                <input type="text" class="form-control border-0" id="fathername"
                                                    name="fatherName" placeholder="Father Name">
                                                <label for="fathername">Father Name</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-floating">
                                                <input type="text" class="form-control border-0" id="fatheroccupation"
                                                    name="fatheroccupation" placeholder="Father's Occupation">
                                                <label for="fatheroccupation">Father's Occupation</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-floating">
                                                <input type="text" class="form-control border-0" id="mothername"
                                                    name="motherName" placeholder="Mother Name">
                                                <label for="mothername">Mother Name</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-floating">
                                                <input type="text" class="form-control border-0" id="motheroccupation"
                                                    name="motheroccupation" placeholder="Mother's Occupation">
                                                <label for="motheroccupation">Mother's Occupation</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-floating">
                                                <input type="tel" class="form-control border-0" id="phone"
                                                    name="fatherMobileNumber" placeholder="Contact No." required>
                                                <label for="phone">Contact No.</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-floating">
                                                <input type="tel" class="form-control border-0" id="alternatephone"
                                                    name="motherMobileNumber" placeholder="Alternate Contact No.">
                                                <label for="alternatephone">Alternate Contact No.</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-floating">
                                                <input type="email" class="form-control border-0" id="email"
                                                    name="email" placeholder="Your Email">
                                                <label for="email">Your Email</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-floating">
                                                <input class="form-control border-0" placeholder="Student Photo"
                                                    type="file" id="childPicture" name="childPicture"
                                                    accept="image/jpeg, image/png" required>

                                                <label for="childPicture">Student Photo</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-floating">
                                                <input class="form-control border-0" placeholder="Student Photo"
                                                    type="file" id="childPicture" name="parentPicture"
                                                    accept="image/jpeg, image/png" required>

                                                <label for="childPicture">Parent Photo</label>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-primary w-100 py-3" type="submit">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->

        <!-- Footer Start -->
        <%-include("./common/footer.ejs")%>
        <!-- Footer End -->

        <!-- Back to Top -->
        <a href="/" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>