<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>admission</title>



  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
  <!-- progress barstle -->
  <link rel="stylesheet" href="css/css-circular-prog-bar.css">
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,600&display=swap" rel="stylesheet">
  <!-- font wesome stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />




  <link rel="stylesheet" href="css/css-circular-prog-bar.css">


</head>

<body class="sub_page">
  <%- include('./common/header.ejs') %>
  <!-- end header section -->

  <div class="common_style">



    <!-- admission section -->
    <section class="admission_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="admission_detail-box">
              <h3>
                Admission open
              </h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              </p>
              <div class="">
                <a href="" class="call_to-btn btn_white-border">
                  Read More
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="admission_img-container">
              <img src="images/admission.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>



    <!-- end admission section -->


  </div>

  <!-- admission form -->

  
    <h4>Admission Form </h4>
    
    <form enctype="multipart/form-data"  action="/admission" method="post">
      <div class="details">
         
        <div class="form-group">
          <label for="name">Child Name:</label>
          <input type="text" id="name" name="name" required>
        </div>

        <div class="form-group">
          <label for="childAge">Child Age:</label>
          <input type="text" id="childAge" name="childAge" required>
        </div>
     
        <div class="form-group">
          <label for="birthdate">Child Birthdate:</label>
          <input type="date" id="birthdate" name="birthdate" required>
        </div>

        <div class="form-group">
          <label for="branch">Branch:</label>
          <select id="branch" name="branch" required>
            <option value="">Choose a Branch</option>
            <option value="Charkop">Charkop</option>
            <option value="Andheri">Andheri</option>
            <option value="Borivali">Borivali</option>
          </select>
        </div>

        <div class="form-group">
          <label for="standard">Class:</label>
          <select id="standard" name="standard" required>
            <option value="">Choose Class</option>
            <option value="Jr. KG">Jr.KG</option>
            <option value="Sr. Kg">Sr.KG</option>
          </select>
        </div>
      
        <div class="form-group">
          <label for="fatherName">Father Name:</label>
          <input type="text" id="fatherName" name="fatherName" required>
        </div>

        <div class="form-group">
          <label for="fatheroccupation">Father Occupation:</label>
          <input type="text" id="fatheroccupation" name="fatheroccupation" required>
        </div>

        <div class="form-group">
          <label for="fatherMobileNumber">Father Mobile Number:</label>
          <input type="tel" id="fatherMobileNumber" name="fatherMobileNumber" required>
        </div>
      
        <div class="form-group">
          <label for="motherName">Mother Name:</label>
          <input type="text" id="motherName" name="motherName" required>
        </div>

        <div class="form-group">
          <label for="motheroccupation">Mother Occupation:</label>
          <input type="text" id="motheroccupation" name="motheroccupation" required>
        </div>

        <div class="form-group">
          <label for="motherMobileNumber">Mother Mobile Number:</label>
          <input type="tel" id="motherMobileNumber" name="motherMobileNumber" required>
        </div>
      
        <div class="form-group">
        <label for="name">Email:</label>
        <input type="email" id="email" name="email" required>
        </div>

       <div class="form-group">
        <label for="childPicture">Child Picture:</label>
        <input type="file" id="childPicture" name="childPicture" accept="image/jpeg, image/x-png , image/jpg" multiple>
       </div>

       <div class="form-group">
       <label for="parentPicture">Parent Picture :</label>
       <input type="file" id="parentPicture" name="parentPicture" accept="image/jpeg, image/x-png , image/jpg" multiple>
       </div>

       </div>

       <button type="button" id="upload_btn">Submit</button>
  </form>
  <script src="/script/uploadjs.js"></script>
  <br>
  <br>

  <!-- admission form end -->

  <!-- info section -->
  <section class="info_section layout_padding-top">
    <div class="info_logo-box">
      <h2>
        Fanadesh
      </h2>
    </div>
    <div class="container layout_padding2">
      <div class="row">
        <div class="col-md-3">
          <h5>
            About Us
          </h5>
          <p>
            dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quisdotempor incididunt r
          </p>
        </div>
        <div class="col-md-3">
          <h5>
            Useful Link
          </h5>
          <ul>
            <li>
              <a href="">
                Video games
              </a>
            </li>
            <li>
              <a href="">
                Remote control
              </a>
            </li>
            <li>
              <a href="">
                3d controller
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>
            Contact Us
          </h5>
          <p>
            dolor sit amet, consectetur magna aliqua. quisdotempor incididunt ut e
          </p>
        </div>
        <div class="col-md-3">

          <div class="subscribe_container">
            <h5>
              Newsletter
            </h5>
            <div class="form_container">
              <form action="">
                <input type="email" placeholder="Enter your email">
                <button type="submit">
                  Subscribe
                </button>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="container">
      <div class="social_container">

        <div class="social-box">
          <a href="">
            <img src="images/fb.png" alt="">
          </a>

          <a href="">
            <img src="images/twitter.png" alt="">
          </a>
          <a href="">
            <img src="images/linkedin.png" alt="">
          </a>
          <a href="">
            <img src="images/instagram.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->

  <!-- footer section -->
  <!-- <section class="container-fluid footer_section">
    <p>
      Copyright &copy; 2019 All Rights Reserved By
      <a href="https://html.design/">Free Html Templates</a>
    </p>
  </section> -->
  <!-- footer section -->

  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>


</body>

</html>