<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Contacts - Kid's Concept</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Inter.css">
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    
    <style>
    
    @media (min-width: 768px) {
      
      
      .form-control:not(.form-inline-label) {
      width: 170%;
      
      }

      .form-inline-label {
        display: inline-block;
        width: 40%;
        /* margin-bottom: 1rem; */
        margin-right: 1rem;
      }
    
      .form-inline-label select {
        width: 150%;
      }
    
      .row .col-md-6:nth-child(2) {
        margin-top: 0;
      }
    
      .row .col-md-6:nth-child(2) .form-control {
        margin-top: 0.5rem;
      }
    
      /* Add the following styles to place two form elements in a single row and increase the width by 20% */
      .form-inline-label:nth-child(2),
      .form-inline-label:nth-child(4) {
        margin-right: 2rem;
      }
    
      .form-inline-label:nth-child(2) input,
      .form-inline-label:nth-child(4) input,
      .form-inline-label:nth-child(2) select,
      .form-inline-label:nth-child(4) select {
        width: 120%;
      }
      #adm{
        margin-left: 250px;
      }
      }
    #adm{
    max-width: 100%;
    height: auto;
}


  </style>
</head>

<body style="background-color: rgb(228, 199, 243)">
    <%- include('./common/nav.ejs') %>
    <section class="py-5">
      <div class="container py-5 ">
          <div class="row mb-5 ">
              <div class="col-md-8 col-xl-6 text-center mx-auto">
                  <h2 class="fw-bold">Admission Form</h2>
              </div>
          </div>
          <div class="row d-md-flex">
              <div class="col-md-1 col-xl-4 justify-content-center align-items-center text-center">
                  <div class="text-center">
                    <div>
                        <form class="p-3 p-xl-4" id="admission_form" enctype="multipart/form-data" action="/admission" method="post" >
                            <div class="mb-3"><input class="form-control" placeholder="Student Name" type="text" id="name" name="name" required ></div>
                            <div class="mb-3 form-inline-label"><input class="form-control" placeholder="Student Age" type="text" id="childAge" name="childAge" required ></div>
                            <div class="mb-3 form-inline-label">
                              <select class="form-control" placeholder="Branch" id="branch" name="branch" required >
                                  <option value="">Choose a Branch</option>
                                  <option value="Charkop">Charkop</option>
                                  <option value="Andheri">Andheri</option>
                                  <option value="Borivali">Borivali</option>
                                  <option value="Kandivali">Kandivali</option>
                              </select>
                          </div>
                          <div class="mb-3 form-inline-label">
                              <select class="form-control" placeholder="Standard" id="standard" name="standard" required >
                                  <option value="">Choose Class</option>
                                  <option value="Jr. KG">Jr.KG</option>
                                  <option value="Sr. Kg">Sr.KG</option>
                              </select>
                          </div>
                          <div class="mb-3 form-inline-label">
                              <input class="form-control" placeholder="Birthdate" type="date" id="birthdate" name="birthdate" required >
                          </div>
                              
                            <div class="mb-3"><input class="form-control" placeholder="Father's Name" type="text" id="fatherName" name="fatherName"  required ></div>
                            <div class="mb-3"><input class="form-control" placeholder="Father's Occupation" type="text" id="fatheroccupation" name="fatheroccupation"  required ></div>
                            <div class="mb-3"><input class="form-control" placeholder="Father's Phone No." type="tel" id="fatherMobileNumber" name="fatherMobileNumber"  required ></div>
                            <div class="mb-3"><input class="form-control" placeholder="Mother's Name" type="text" id="motherName" name="motherName"  required ></div>
                            <div class="mb-3"><input class="form-control" placeholder="Mother's Occupation" type="text" id="motheroccupation" name="motheroccupation"required ></div>
                            <div class="mb-3"><input class="form-control" placeholder="Mother's Phone No." type="tel" id="motherMobileNumber" name="motherMobileNumber"  required ></div>
                            <div class="mb-3"><input class="form-control" placeholder="Email" type="email" id="email" name="email" required ></div>
                            <div class="mb-3"><input class="form-control" placeholder="Email" type="file" id="childPicture" name="childPicture" accept="image/jpeg, image/png" required ></div>
                            <div class="mb-3"><input class="form-control" placeholder="Email" type="file" id="parentPicture" name="parentPicture" accept="image/jpeg, image/png" required ></div>
                            <div><button class="btn btn-primary shadow d-block w-40 " type="button" id="upload_btn" style="display: flex;">Send </button></div>
                            
                        </form>
                    </div>
                </div>
              </div>
            
              <div class="col-md-5">
                <img src="/images/why.png" alt="adm" id="adm">
              </div>
            </div>
        </div>
    </section>
    <%- include('./common/footer.ejs') %>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/bold-and-bright.js"></script>
</body>

</html>