<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.body {
    font-family:'Roboto', sans-serif;
    font-weight: bold;
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}

img {
    height: 200px;
    width: 200px;
}

#principal {
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 25px;
}
a:hover{
    color: blue;
}

.image-container {
  flex-basis: calc(33.33% - 20px);
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}

.image-container img {
  height: 300px;
  width: 300px;
  border-radius: 3rem;
}


    </style>
    <title>Copyright</title>
</head>
<body>
    <br>
    <span> <img src="img\copyright\SAKEC Logo (Blue).png" alt="">Team of Shah and Anchor Kutchhi Engineering College  <img src="img\copyright\Research Cell Logo.png" alt=""></span><br> <br>
   <div class="container-fluid">
    <div class="row" id="principal">
        <div class="bg-light w-100 mx-auto p-3">
            <div class="image-container">
            <img class="img-fluid" src="img\copyright\principal-pic.jpg" alt=""><br>
            <label><a href="">Dr.Bhavesh Patel <br>Principal <br> Shah & Anchor Kutchhi Engineering College
            </h5></a>
        </div>
    </label>
        </div>
    </div>
    <br><br>
    <span>Developing Team</span>
    <br><br>
    <div class="row" id="teachers">
        <div class="col">
          <div class="bg-light w-100 mx-auto p-3">
            <div class="image-container">
              <img class="img-fluid" src="img\copyright\jaya-zalte.jpg" alt=""><br>
              <label><a href="">Jaya Zalte <br>(Mentor)</a></label>
            </div>
            <div class="image-container">
              <img class="img-fluid" src="img\copyright\divya-pritam.jpg" alt=""><br>
              <label><a href="">Divya Pritam<br>(Mentor)</a></label>
            </div>
            <div class="image-container">
              <img class="img-fluid" src="img\copyright\NamrataMaam.jpg" alt=""><br>
              <label><a href="">Dr.Namaarata Kkommineni<br>(Mentor)</a></label>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="bg-light w-100 mx-auto p-3">
              <div class="image-container">
                <img class="img-fluid" src="img\copyright\aditya.jpg" alt=""><br>
                <label><a href="">Aditya Gohil</a></label>
              </div>
              <div class="image-container">
                <img class="img-fluid" src="img\copyright\swapnil.jpg" alt=""><br>
                <label><a href="">Swapnil Sawant</a></label>
              </div>
              <div class="image-container">
                <img class="img-fluid" src="img\copyright\pranjal.jpg" alt=""><br>
                <label><a href="linkedin.com/in/pranjal-sawant-5447021b3/ra">Pranjal Sawant</a></label>
              </div>
            </div>
          </div>
      </div>
      
      
   </div>
</body>
</html>