<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container-fluid{
            font-family:;
            font-weight: bold;
        }
        span{
            justify-content: center;
            font-size: 45px;
        }
        img{
            height: 200px;
            width: 200px;
        }
        #principal{
            text-align: center;
        }
    </style>
    <title>Copyright</title>
</head>
<body>
    <span>Team of Shah and Anchor Kutchhi Engineering College</span>
   <div class="container-fluid">
    <div class="row" id="principal">
        <div class="bg-light w-100 mx-auto p-3">
            <img class="img-fluid" src="img\copyright\principal-pic.jpg" alt=""><br>
            <label>Dr.Bhavesh Patel <br>Principal <br> Shah & Anchor Kutchhi Engineering College
            </h5></label>
        </div>
    </div>
   <div class="row" id="teachers">
    <div class="col">
        <div class="bg-light w-100 mx-auto p-3">
            <img class="img-fluid" src="img\copyright\jaya-zalte.jpg" alt=""><br>
            <label>Jaya Zalte <br><h1>(Mentor)</h1></label>
        </div>
        <div class="col">
            <div class="bg-light w-100 mx-auto p-3">
                <img class="img-fluid" src="img\copyright\divya-pritam.jpg" alt=""><br>
                <label>Divya Pritam <br><h1>(Mentor)</h1></label>
            </div>
            <div class="col">
                <div class="bg-light w-100 mx-auto p-3">
                    <img class="img-fluid" src="img\copyright\NamrataMaam.jpg" alt=""><br>
                    <label>Dr.Namaarata Kkommineni</label>
                </div>
            </div>
        </div>
    </div>
   </div>
   <div class="row" id="students">
    <div class="col">
        <div class="bg-light w-100 mx-auto p-3">
            <img class="img-fluid" src="img\copyright\aditya.jpg" alt=""><br>
          
        </div>
        <div class="col">
            <div class="bg-light w-100 mx-auto p-3">
                <img class="img-fluid" src="img\copyright\swapnil.jpg" alt=""><br>
                
            </div>
            <div class="col">
                <div class="bg-light w-100 mx-auto p-3">
                    <img class="img-fluid" src="img\copyright\pranjal.jpg" alt=""><br>
                   
                </div>
            </div>
        </div>
    </div>
   </div>
   </div>
</body>
</html>