<section class="enquiry">
    <h1>Enquiry List</h1>
    <form method="GET" action="/admin/download">
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" name="startDate" />

        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" name="endDate" />

        <button type="submit">Download</button>
    </form>

</section>