<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./common/header.ejs') %>
</head>

<body>
    <div class="container-l bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar Start -->
        <%- include('./common/nav.ejs', { activePage: 'home' }) %>

<!-- rest of your index.ejs file -->

        <!-- Navbar End -->

        <!-- About Start -->
        <div class="container-l py-5 bg-primary">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                       <span class="contents">
                        <b>  <h1 class="mb-4">Learn More About Our Work And Our Cultural Activities</h1>
                        <p>Kids' Concept School provides a warm and loving environment in which children learn through
                            play activities. Kids' Concept School strives to be a child's second home by providing them
                            with the greatest instruction and the flexibility to develop their tiny brains physically
                            and cognitively.
                        </p>
                        <p class="mb-4">The child's motor cohesion, social adjustment, linguistic capabilities, and
                            pre-reading/thinking abilities are acquired. Thus, the 'Kids' Concept' idea' assists children in
                            developing an enthusiastic play with monthly themes.</p>
                       </span></b>
                    </div>
                    <div class="col-lg-6 about-img wow fadeInUp" data-wow-delay="0.5s">
                        <div class="row">
                            <div class="col-12 text-center">
                                <img class="img-fluid w-75 rounded-circle bg-light p-3" src="img/KC-about-3.jpg" alt="">
                            </div>
                            <div class="col-6 text-start" style="margin-top: -150px;">
                                <img class="img-fluid w-100 rounded-circle bg-light p-3" src="img/KC-about-2.jpg"
                                    alt="">
                            </div>
                            <div class="col-6 text-end" style="margin-top: -150px;">
                                <img class="img-fluid w-100 rounded-circle bg-light p-3" src="img/KC-about-1.jpg"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->

        <!-- Our Activites Start -->
        <div class="container-l py-5 bg-secondary">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">Our Activities</h1>
                      <span class="contents">
                        <b>
                            <p>Learning will become an easy task with Kid's Concept. <br>
                                We make learning fun,encourage your child to achieve a level & mould them in academics and activities.
                                We are hygiene conscious & our classrooms are fresh and airy
                                We have the best staff who are polite and kind to all children and who also handle them with care.
                                We teach yoga,conduct field trips and picnics.
                                We have prediatrician day ,dettol day.
                                and also oberve Environment day ,Green day.</p>
                          </b>
                      </span>
                </div>
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="classes-item">
                            <div class="bg-light rounded-circle w-75 mx-auto p-3">
                                <img class="img-fluid rounded-circle" src="img/classes-1.jpg" alt="">
                            </div>
                            <div class="bg-light rounded p-4 pt-5 mt-n5">
                                <a class="d-block text-center h3 mt-3 mb-4" href="">Learning</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="classes-item">
                            <div class="bg-light rounded-circle w-75 mx-auto p-3">
                                <img class="img-fluid rounded-circle" src="img/classes-3.jpg" alt="">
                            </div>
                            <div class="bg-light rounded p-4 pt-5 mt-n5">
                                <a class="d-block text-center h3 mt-3 mb-4" href="">Outbounds</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="classes-item">
                            <div class="bg-light rounded-circle w-75 mx-auto p-3">
                                <img class="img-fluid rounded-circle" src="img/classes-4.jpg" alt="">
                            </div>
                            <div class="bg-light rounded p-4 pt-5 mt-n5">
                                <a class="d-block text-center h3 mt-3 mb-4" href="">Academics</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Our Activities End -->

        <!--Statistics start-->
         <div class="container-l py-5 bg-danger">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 about-img wow fadeInUp" data-wow-delay="0.5s">
                        <div class="statistics-container">
                            <div class="statistic" id="total-students">
                                <h1>
                                    <span class="statistic-value">2400+</span>
                                  </h1>
                                  <h5>
                                    <span class="statistic-label"></span>
                                  </h5>
                            </div>
                            <div class="statistic">
                                <h1><span class="statistic-value">50+</span></h1>
                                <h5>
                                  <span class="statistic-label">Activities</span>
                                </h5>
                            </div>
                            <div class="statistic" id="established-years">
                                <h1>
                                    <span class="statistic-value"></span>
                                </h1>
                              <h5>
                                <span class="statistic-label">Years Established</span>
                              </h5>
                            </div>
                          </div>
                    </div>
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <span class="contents">
                            <b>  <h1 class="mb-4">"Providing Exceptional Care and Education: Enhancing Early Childhood Development at Kids Concept"</h1>
                                <p>When parents entrust us with their young children to join our Kids Concept playgroup nursery, we empathize with the challenging decision they face in finding the ideal place for their child to learn and grow. We recognize the importance of ensuring that their child receives the same level of care as they would at home, and we make every effort to provide adequate care and stimulation at our organization. Consequently, our educational approach offers unique opportunities for your adorable child that they wouldn't have access to in any other setting. Our dedication is focused on enhancing the standard of early childhood education in the playschool domain.
                                </p>
                              </b>
                        </span>
                      </div>
                </div>
            </div>
        </div>
 

        <!-- Footer Start -->
        <%-include("./common/footer.ejs")%>
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
    <script>
        // Get the current year
        const currentYear = new Date().getFullYear();
      
        // Calculate the difference between the current year and 2011
        const difference = currentYear - 2011;
      
        // Update the third tile with the calculated difference
        const establishedYearsElement = document.getElementById("established-years");
        const establishedYearsValueElement = establishedYearsElement.querySelector(".statistic-value");
        establishedYearsValueElement.textContent = difference+'+';

        const totalStudentsElement = document.getElementById("total-students");
        const totalStudentsValueElement = totalStudentsElement.querySelector(".statistic-label");
        totalStudentsValueElement.textContent ='Students from past '+difference+' + years';
      </script>
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>