<section class="fp">
    <form method="POST" enctype="multipart/form-data" action="/admin" class="image-upload-form">
        <h2>Image Upload</h2>

        <div class="form-group">
            <label for="image">Image 1:</label>
            <input type="file" name="image1" id="image1" accept="image/jpeg, image/png" />
            <input type="text" name="1" id="imc1" placeholder="Caption" />
        </div>
        <div class="form-group">
            <label for="image">Image 2:</label>
            <input type="file" name="image2" id="image2" accept="image/jpeg, image/png" />
            <input type="text" name="2" id="imc2" placeholder="Caption" />
        </div>
        <div class="form-group">
            <label for="image">Image 3:</label>
            <input type="file" name="image3" id="image3" accept="image/jpeg, image/png" />
            <input type="text" name="3" id="imc3" placeholder="Caption" />
        </div>
        <div class="form-group">
            <label for="image">Image 4:</label>
            <input type="file" name="image4" id="image4" accept="image/jpeg, image/png" />
            <input type="text" name="4" id="imc4" placeholder="Caption" />
        </div>
        <div class="form-group">
            <label for="image">Image 5:</label>
            <input type="file" name="image5" id="image5" accept="image/jpeg, image/png" />
            <input type="text" name="5" id="imc5" placeholder="Caption" />
        </div>
        <div class="form-group">
            <label for="image">Image 6:</label>
            <input type="file" name="image6" id="image6" accept="image/jpeg, image/png" />
            <input type="text" name="6" id="imc6" placeholder="Caption" />
        </div>
        <div class="form-group">
            <label for="image">Image 7:</label>
            <input type="file" name="image7" id="image7" accept="image/jpeg, image/png" />
            <input type="text" name="7" id="imc7" placeholder="Caption" />
        </div>
        <div class="form-group">
            <label for="image">Image 8:</label>
            <input type="file" name="image8" id="image8" accept="image/jpeg, image/png" />
            <input type="text" name="8" id="imc8" placeholder="Caption" />
        </div>
        <div class="form-group">
            <label for="image">Image 9:</label>
            <input type="file" name="image9" id="image9" accept="image/jpeg, image/png" />
            <input type="text" name="9" id="imc9" placeholder="Caption" />
        </div>
        <button type="button" id="upload_btn">Submit</button>
    </form>
    <script src="/script/sycnImages.js"></script>
</section>