<section>
    <form method="POST" enctype="multipart/form-data" action="/admin" class="video-upload-form">
        <br>
        <br>
        <h2>Video Upload</h2>
        <div class="form-group">
            <video class="img-fluid" controls>
                <source src="vid/video1.mp4" type="video/mp4">
            </video>
            <br>
            <label for="Video">Video 1:</label>
            <input type="file" placeholder="Add video" id="video1" name="video1" accept="video/mp4" />
            <input type="text" name="1" id="vdc1" placeholder="Caption" />
        </div>
        <div class="form-group">
            <video class="img-fluid" controls>
                <source src="vid/video2.mp4" type="video/mp4">
            </video>
            <br>
            <label for="Video">Video 2:</label>
            <input type="file" placeholder="Add video" id="video2" name="video2" accept="video/mp4" />
            <input type="text" name="2" id="vdc2" placeholder="Caption" />
        </div>
        <div class="form-group">
            <video class="img-fluid" controls>
                <source src="vid/video3.mp4" type="video/mp4">
            </video>
            <br>
            <label for="Video">Video 3:</label>
            <input type="file" placeholder="Add video" id="video3" name="video3" accept="video/mp4" />
            <input type="text" name="3" id="vdc3" placeholder="Caption" />
        </div>
        <div class="form-group">
            <video class="img-fluid" controls>
                <source src="vid/video4.mp4" type="video/mp4">
            </video>
            <br>
            <label for="Video">Video 4:</label>
            <input type="file" placeholder="Add video" id="video4" name="video4" accept="video/mp4" />
            <input type="text" name="4" id="vdc4" placeholder="Caption" />
        </div>
        <div class="form-group">
            <video class="img-fluid" controls>
                <source src="vid/video5.mp4" type="video/mp4">
            </video>
            <br>
            <label for="Video">Video 5:</label>
            <input type="file" placeholder="Add video" id="video5" name="video5" accept="video/mp4" />
            <input type="text" name="5" id="vdc5" placeholder="Caption" />
        </div>
        <div class="form-group">
            <video class="img-fluid" controls>
                <source src="vid/video6.mp4" type="video/mp4">
            </video>
            <br>
            <label for="Video">Video 6:</label>
            <input type="file" placeholder="Add video" id="video6" name="video6" accept="video/mp4" />
            <input type="text" name="6" id="vdc6" placeholder="Caption" />
        </div>
        <div class="form-group">
            <video class="img-fluid" controls>
                <source src="vid/video7.mp4" type="video/mp4">
            </video>
            <br>
            <label for="Video">Video 7:</label>
            <input type="file" placeholder="Add video" id="video7" name="video7" accept="video/mp4" />
            <input type="text" name="7" id="vdc7" placeholder="Caption" />
        </div>
        <div class="form-group">
            <video class="img-fluid" controls>
                <source src="vid/video8.mp4" type="video/mp4">
            </video>
            <br>
            <label for="Video">Video 8:</label>
            <input type="file" placeholder="Add video" id="video8" name="video8" accept="video/mp4" />
            <input type="text" name="8" id="vdc8" placeholder="Caption" />
        </div>
        <div class="form-group">
            <video class="img-fluid" controls>
                <source src="vid/video9.mp4" type="video/mp4">
            </video>
            <br>
            <label for="Video">Video 9:</label>
            <input type="file" placeholder="Add video" id="video9" name="video9" accept="video/mp4" />
            <input type="text" name="9" id="vdc9" placeholder="Caption" />
        </div>

        <button type="button" id="upload_video_btn">Submit</button>
    </form>
    <script src="/script/sycnVideos.js"></script>
</section>