<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>videos</title>



  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
  <!-- progress barstle -->
  <link rel="stylesheet" href="css/css-circular-prog-bar.css">
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,600&display=swap" rel="stylesheet">
  <!-- font wesome stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />

  <link rel="stylesheet" href="css/css-circular-prog-bar.css">
  <style>
    video {
      object-fit: cover;
      width: 320px;
      height: 240px;
    }
  </style>

</head>


<body class="sub_page">
    <%- include('./common/header.ejs') %>

  <div class="container">
    <h4>Videos</h4>
    <div class="row">
        <div class="col">
          <video width="320" height="240" controls>
          <source src="videos/KCvideo.mp4" type="video/mp4">
          </video>
          <h5>Navaratri Celebration</h5>
        </div>
        <div class="col">
          <video width="320" height="240" controls>
          <source src="videos/KCvideo1.mp4"type="video/mp4">
          </video>
          <h5>Christmans Celebration</h5>
        </div>
        <div class="col">
          <video width="320" height="240" controls>
          <source src="videos/KCvideo2.mp4" type="video/mp4">
          </video>
          <h5>Republic day Celebration</h5>
        </div>
        <div class="col">
            <video width="320" height="240" controls>
            <source src="videos/KCvideo3.mp4" type="video/mp4">
            </video>
            <h5>Christmas Celebration</h5>
          </div>
      </div>
      <button type="button"> Add More + </button>
  </div>
  <section class="info_section ">
    <div class="info_logo-box">
      <h2>
          Branches
      </h2>
    </div>
      <div class="container layout_padding2">
        <div class="row">
          <div class="col-md-3">
            <h5>
              Charkop branch                                                                            
            </h5>
           <p>
            185/D-43 & 44, Veermata CHS,Sector No-1,Near Bank of Maharashtra,Charkop<br>Kandivali(W),Mumbai-400 067
           </p>
          </div>
          <div class="col-md-3">
            <h5>
               Borivali Branch                                                                           
            </h5>
           <p>
            138/D-6, Riddhi Siddhi CHS,<br>Gorai-2,Borivali(W),<br>Mumbai - 400 092
           </p>
          </div>
          <div class="col-md-3">
            <h5>
              Andheri Branch                                                                             
          </h5>
         <p>
          40/D3,Soujanya Chs.Ltd. <br>S.V.P Mahada LayoutFour Bungalows,Andheri(W),<br>Mumbai - 400 053
         </p>
          </div>
          <div class="col-md-3">
       
            <h5>
              Kandivali Branch                                                                           
          </h5>
         <p>
          Sadguru Krupa CHS, Building No.43, Ground Floor, 006, 
          Shivaji Raje Complex,Old MHADA, Ekta Nagar, Kandivali (West),<br>Mumbai - 400 067
         </p>
            
          </div>
        </div>
      </div>
      <div class="container">
          <div class="social_container"> 
            <h5> Contact Principal : HITEN PATEL : + 919819308886/022 28671599</h5>
            </div>
      </div>
    </section>

<!-- footer section -->
<section class="container-fluid footer_section">
<p>
  Copyright &copy; 2019 All Rights Reserved By
  <!-- <a href="https://html.design/">Free Html Templates</a> -->
</p>
</section>
<!-- footer section -->
</body>
<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
