body {
  background-image: url("../images/admission_bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* margin-top: 10%; */
}
h4{
  margin-bottom: 10px;
  font-family:'Brush Script MT', cursive;
  font-size: 40px;
  color: rgb(8, 8, 8);
  text-align: center;
  font-weight: 1000;
} 
h4::after{
display: block;
text-align: center;
font-size: 1em;
color: rgb(255, 0, 0);
content: "—";
}
form {
  display:flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}
  .details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  }
  
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    font-family:"Raleway", sans-serif;
    color: white;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="date"],
  input[type="file"],
  select,
  textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    border: 1px solid #000000;
  }
  
  select {
    appearance: none;
    padding: 10px 40px 10px 10px;
    background: #fff url("data:image/svg+xml,<svg viewBox='0 0 10 10' xmlns='http://www.w3.org/2000/svg'><path d='M1 3.5l4 4 4-4H1z'/></svg>") no-repeat right center;
    background-size: 20px;
  }
  
  textarea {
    resize: vertical;
    min-height: 150px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: white;
    color:black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #d4e1de;
  }
  
  @media screen and (max-width: 500px) {
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    select,
    textarea {
      width: 100%;
    }
  }