body {
  font-family: 'Raleway', sans-serif;
  background-color: #fefeff;
  overflow-x: hidden;
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}

.call_to-btn {
  display: inline-block;
  padding: 15px 45px;
  border-radius: 10px;
  font-size: 15px;
  background-color: #ffffff;
  color: #262627;
  font-weight: 600;
  transition: all 0.3s ease 0s;
}

/* .hero_section .call_to-btn {} */

.call_to-btn img {
  width: 18px;
  margin-left: 10px;
}

.btn_on-hover {
  transition: all 0.3s ease 0s;
}

.call_to-btn:hover,
.btn_on-hover:hover {
  -webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.7);
  transform: translateY(-7px);
}

.main-heading {
  color: #082465;
  font-weight: bold;
  text-align: center;
}

/*header section*/

.header_section {
  padding-top: 10px;
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 10px rgba(24, 105, 176, 0.8);
}

nav.navbar.navbar-expand-lg {

  padding: 10px 0;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 20px;
  color: #000000;
  text-align: center;
}


a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

.top_container {
  position: relative;
}



.top_container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(../images/hero-bg\ blue.svg);
  background-size: 100% 100%;
  background-position: right bottom;
  background-repeat: no-repeat;
  z-index: -1;
}

.sub_page .top_container::before {
  background-color: #ffffff;
  background-image: none;
}

.top_container::after {
  content: "";
  position: absolute;
  width: 75px;
  height: 75px;
  bottom: 20%;
  left: 6%;
  /* background-color: #fdd31d; */
}


.sub_page .top_container::after {
  display: none;
}


.navbar-brand img {
  width: 100px;
  margin-right: 10px;
  /* padding-top: 25%; */
}


.custom_nav-container .nav_search-btn {
  background-image: url(../images/search-icon.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand span {
  font-size: 22px;
  font-weight: 700;
  color: #090808;
}

.custom_nav-container {
  z-index: 99999;
  padding: 15px 0;
}
.collapse-navbar-collapse{
background-color: #000;
}

.custom_nav-container .navbar-toggler {
  outline-color: #000;
  background-color: #000;

}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 40px;
}

/*end header section*/

/* hero section */
.hero-container {
  display: flex;
  padding-top: 90px;
  padding-bottom: 325px;
}

.hero_detail-box {
  width: 40%;
}

.hero_img-container {
  width: 68%;
  /* margin-right: -8%; */
  margin-top: -5%;
}

.hero_img-container img {
  width: 100%;
}

.hero_detail-box {
  color: #fefeff;
}

.hero_detail-box h1 {
  font-size: 45px;
  color: #000000;
  font-weight: 600;
  width: 70%;
  font-family: 'KIDS',sans-serif;;
}


.hero_detail-box p {
  margin-top: 20px;
  font-size: xx-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* margin-bottom: 35px; */
}


/* end hero section */

/* common style for some sections */
.common_style>section {
  padding: 50px 0;
}

.common_style .row {
  align-items: center;
}

.common_style h3 {
  font-weight: 600;
  color: #151516;
}

.common_style p {
  font-weight: 600;
  color: #4e4f50;
  margin: 30px 0 50px 0;
}

.common_style img {
  width: 100%;
}


/* end common style */

/* about section */
.about_section {
  background-color: #4CC6ED;
  text-align: right;
}
.about_detail-box h3{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
}

.about_detail-box p{
  font-family: Arial, Helvetica, sans-serif; 
  text-align: justify;
  /* color: #fff; */
  /* font-weight: 900; */
}

.about_section a {
  background-color: #6ebca8;
  color: #fefeff;
}

/* end about section */

/* admission section */
/* body {
  background-image: url("../images/admission_bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* margin-top: 10%; */
.admission_page {
  background-color: #4CC6ED;;
}
h4{
  margin-bottom: 10px;
  font-size: 40px;
  font-family:"Raleway", sans-serif;
  color: rgb(8, 8, 8);
  text-align: center;
  font-weight: 1000;
} 
h4::after{
display: block;
text-align: center;
font-size: 1em;
color: rgb(255, 0, 0);
content: "—";
}
#admissionopen img{
  border-radius: 38% 62% 39% 61% / 60% 48% 52% 40%  ;
  margin-top:50px;
}

form {
  display:flex;
  flex-direction: column;
  max-width: 500px;
  margin-left: 5rem;
  /* margin:0 auto; */
  /* margin-left: 20%;
  margin-right: 20%; */
 
}
  .details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  }
  
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    font-family:"Raleway", sans-serif;
    color: rgb(0, 0, 0);
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="date"],
  input[type="file"],
  select,
  textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    border: 1px solid #000000;
  }
  
  select {
    appearance: none;
    padding: 10px 40px 10px 10px;
    background: #fff url("data:image/svg+xml,<svg viewBox='0 0 10 10' xmlns='http://www.w3.org/2000/svg'><path d='M1 3.5l4 4 4-4H1z'/></svg>") no-repeat right center;
    background-size: 20px;
  }
  
  textarea {
    resize: vertical;
    min-height: 150px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color:  rgb(206, 12, 12);
    color:black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 40%;
    margin-right: 40%;
   
  }
  
  button[type="submit"]:hover {
    background-color: rgb(255, 0, 0);
  }
  
  @media screen and (max-width: 500px) {
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    select,
    textarea {
      width: 100%;
    }
  }

.admission_section a {
  background-color: #c83c3c;
  color: #fefeff;
}

/* end admission section */

/* videos section */
h4{
  margin-top: 3rem;
  margin-bottom: 10px;
  font-size: 40px;
  color: rgb(8, 8, 8);
  text-align: center;
  font-weight: 1000;
} 
h4::after{
display: block;
text-align: center;
font-size: 1em;
color: rgb(255, 0, 0);
content: "—";
}

.videos{
 margin-left: 2rem;
 background-color: #1f1fb5;
}
 
.videos h5{
  text-align:center;
  font-size: 15px;
}

button[type="button"] {
  padding: 10px 20px;
  background-color:  #04268a;
  color:black;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 2rem;
  font-weight: bold;
  color:white;
  box-shadow: 20px;
}
button[type="button"]:hover {
  background-color: rgb(44, 144, 177);
}

/* videos section end */

/* gallery section */

#photos img{
  max-width: auto;
  max-height: 200px;
  border-radius: 7px;
  margin-right: 30px;
  margin-bottom:20px;
}

#photos{
  margin-left:40px;
  margin-right:40px;  
}

button{
 margin-left: 50%;
 margin-bottom: 50px;
}
 

/* gallery section end */

/* why section */

.why_section {
  text-align: right;
}

.why_section a {
  background-color: #6ebca8;
  color: #fefeff;
}

.why_detail-box h3{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.why_detail-box p{
  text-align: justify;
  font-size:large;
  font-family: Arial, Helvetica, sans-serif; 
}

/* end why section */

/* determine section */


.determine_section a {
  background-color: #fdd31d;
  color: #fefeff;
}


/* end determine section */

/* client section */
.client_section h2,
.client_section h5,
.client_section p {
  font-weight: 600;
}

.client_section h2 {
  text-align: center;
}


.client_section h5 {
  font-size: 24px;
  color: #fdd31d;
}

.client_section .row {
  align-items: center;
  padding: 75px 0;
  margin: 0 15px;
}

.client_section img {
  width: 100%;
}

.client_img-box::before,
.client_img-box::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 30px;
  border-radius: 20px;
  background-color: #fdd31d;
}

.client_img-box::before {
  top: -15px;
  transform: rotate(139deg);
  left: -15px;
  animation: beforeanimate 1s;
  animation-delay: .1s;
}

.client_img-box::after {
  bottom: -15px;
  transform: rotate(142deg);
  right: -15px;
  animation: afteranimate 1s;
  animation-delay: .1s;
}


@keyframes beforeanimate {
  0% {
    top: 43%;
    transform: rotate(142deg);
    left: 31%;

  }

  100% {
    top: -15px;
    transform: rotate(139deg);
    left: -15px;
  }
}

@keyframes afteranimate {
  0% {
    bottom: 46%;
    transform: rotate(142deg);
    right: 35%;
  }

  100% {
    bottom: -15px;
    transform: rotate(142deg);
    right: -15px;
  }
}

.client_section .carousel-indicators {
  margin: 0;
  justify-content: flex-end;
  padding-right: 15px;
  bottom: 20px;
}

.client_section .carousel-indicators li {
  width: 25px;
  height: 25px;
  background-color: #6bd1bd;
  border-radius: 100%;
  opacity: 1;
}

.client_section .carousel-indicators li.active {
  background-color: #fdd31d;
}

/* end client section */

/* contact section */

.contact_section {
  padding: 75px 45px;
  font-family: 'Poppins', sans-serif;
  background-color: #4CC6ED;
}

.contact_section .row {
  align-items: center;
}

.contact_section input {
  border: none;
  outline: none;
  border-bottom: 1px solid #000;
  width: 90%;
  margin: 15px 0;
}



.contact_form-container button {
  border: none;
  background-color: #f1f1f1;
  color: #090808;
  font-size: 15px;
  padding: 15px 45px;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: bold;
  /* border-radius: 5%; */
  border-color: #000;
}

.contact_img-box {

  display: flex;
  /* align-items: center; */

}

.contact_img-box img {
  width: 100%;
}

.contact_section h2 {
  font-size: 26px;
  color: #010103;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 5px;
  /* text-align: center; */
  /* margin-left: 50px; */
  margin-right: 100px;
}


/* end contact section */


/* info section */
.info_section {
  background-color: #363636;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.info_logo-box {
  display: flex;
  justify-content: center;
}

.info_logo-box h2 {
  font-weight: bold;
  padding: 5px 7px;
  border-bottom: 1.5px solid #fdd31d;
}

.info_section ul {
  padding: 0;
}

.info_section ul li {
  list-style-type: none;
  margin: 3px 0;
}

.info_section ul li a {
  color: #ffffff;
}

.info_section ul li a:hover {
  color: #fdd31d;
}

.info_section h5 {
  margin-bottom: 12px;
  font-size: 22px;
}



.info_section .form_container input {
  width: 225px;
  height: 40px;
  padding: 10px;
}

.info_section .form_container input::placeholder {
  color: #ccc8c8;
}

.info_section .form_container button {
  background-color: #fdd31d;
  border: none;
  outline: none;
  color: #fff;
  padding: 8px 30px;
  margin-top: 15px;
  font-size: 15px;
  text-transform: uppercase;
}

.social_container {
  width: 90%;
  margin: 0 auto;
  border-top: 1px solid #898989;
  padding: 25px 0;
}

.info_section .social-box {
  margin: 0 auto;
  width: 400px;
  display: flex;
  justify-content: center;
}

.info_section .social-box img {
  width: 35px;
  margin-right: 5px;
}

/* end info section */

/* footer section*/

.footer_section {
  background-color: #d8b109;
  padding: 20px 15px;
  font-family: 'Poppins', sans-serif;

}

.footer_section p {
  color: #fdfdfe;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #fdfdfe;
}



/* end footer section*/
