<div class="container-fluid" id="footer">
  <div class="row">
    <div class="col">
      <p><address><b>Charkop branch(Head Office)</b><br> 185/D-43 & 44, Veermata CHS,Sector No-1,Near Bank of Maharashtra,Charkop,Kandivali(W),<br>Mumbai-400 067,Tel:28671599</address></p>
    <div class="col">
      <p><address><b>Andheri Branch</b><br> 40/D3,Soujanya Chs.Ltd. S.V.P Mahada LayoutFour Bungalows,Andheri(W),<br>Mumbai - 400 053</address></p>
    </div>
    <div class="col">
      <p><address><b>Borivali Branch</b><br> 138/D-6,Riddhi Siddhi CHS,Gorai-2,Borivali(W),<br>Mumbai - 400 092</address></p>
    </div>
    <div class="col">
      <p><address><b>Kandivali Branch</b><br>Sadguru Krupa CHS, Building No.43, Ground Floor, 006, 
        Shivaji Raje Complex,Old MHADA, Ekta Nagar, Kandivali (West),<br>Mumbai - 400 067</address></p>
    </div>
  </div>
</div>

<style>
  #footer {
    padding: 20px;
    text-align: center;
    font-size: 17px;
    font-family: 'comic sans ms';
    background-color: rgba(255, 255, 255);
  }

  #footer span {
    font-weight: 700;
    color: rgb(0, 0, 0);
  }
  /* #footer .col p{
    text-align: justify;
  } */

  /* Responsive styles */
  @media screen and (max-width: 992px) {
    #footer {
      font-size: 15px;
    }
  }

  @media screen and (max-width: 768px) {
    #footer {
      font-size: 13px;
    }
  }

  @media screen and (max-width: 576px) {
    #footer {
      font-size: 11px;
    }
  }
</style>