<div class="container-fluid bg-dark text-white-50 footer wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="d-flex justify-content-center">
            <h1 class="text-white mb-4">Branches</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h3 class="text-white mb-4">Charkop Branch</h3>
                <p class="mb-2 text-white"><i class="fa fa-map-marker-alt me-3"></i>185/D-43 & 44, Veermata CHS,Sector
                    No-1,Near Bank of Maharashtra,Charkop
                    Kandivali(W),Mumbai-400 067</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3 class="text-white mb-4">Borivali Branch</h3>
                <p class="mb-2 text-white"><i class="fa fa-map-marker-alt me-3"></i>138/D-6, Riddhi Siddhi CHS,
                    Gorai-2,Borivali(W),
                    Mumbai - 400 092</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3 class="text-white mb-4">Andheri Branch</h3>
                <p class="mb-2 text-white"><i class="fa fa-map-marker-alt me-3"></i>40/D3,Soujanya Chs.Ltd.
                    S.V.P Mahada LayoutFour Bungalows,Andheri(W),
                    Mumbai - 400 053</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h3 class="text-white mb-4">Kandivali Branch</h3>
                <p class="mb-2 text-white"><i class="fa fa-map-marker-alt me-3"></i>Sadguru Krupa CHS, Building No.43,
                    Ground Floor, 006, Shivaji Raje Complex,Old MHADA, Ekta Nagar, Kandivali (West),
                    Mumbai - 400 067</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    Copyright &copy; 2023 <a class="border-bottom" href="#">&nbsp;Kids Concept</a>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu">
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-youtube"></i></a>
                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>