<nav
      class="navbar navbar-light navbar-expand-md sticky-top navbar-shrink py-3"
      id="mainNav"
    >
      <div class="container">

        <img src="assets/img/KClogo.png" alt="logo" height="70px" class="mt-1">

       <span class="logoname">Kid's Concept</span></a>
          <button
          data-bs-toggle="collapse"
          class="navbar-toggler"
          data-bs-target="#navcol-1"
        >
          <span class="visually-hidden">Toggle navigation</span
          ><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="nav-link " href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="gallery">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/video">Videos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admission">Admission</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contacts</a>
            </li>
          </ul>
          <!-- <a class="btn btn-primary shadow" role="button" href="signup"
            >Contact Us</a
          > -->
        </div>
      </div>
    </nav>